.button-submit {
  width: 114px;
  padding: 4px 29px;
  border-radius: 80px;
  background-color: #B4B4B4;
  font-size: 16px;
  font-style: normal;
  line-height: 26px;
  border: none;
  cursor: pointer;
  transition: all .3s;
  user-select: none;

  &:active {
    transform: scale(1.1);
  }

  &:disabled {
    background-color: black;
    color: #fff;
    transform: scale(1);
    cursor: not-allowed;
  }
}
